.setting-container {
    width: 500px;
    height: fit-content;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.setting-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75%;
}

.setting-container .body {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.setting-mode {
    display: flex;
    flex:  1;
    flex-direction: column;
    border-right: 1px solid var(--dawn-blue);
    gap: 5px;
}

.setting-mode .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.setting-mode .item:hover {
    background-color: var(--dawn-blue);
}

.setting-mode .item-active {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: var(--neon-blue);
    color: #fff;
    border-radius: 10px;
}

.setting-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.theme-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px
}

.setting-content .image-container {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #000;
}

.setting-content img {
    max-width: 100%;
    height: 100px;
    border-radius: 10px;
}
