@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,700&family=Poppins:wght@500;700&family=Sofia&display=swap');

.hide {
    opacity: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: fit-content;
    padding: 1%;
}


.header h1 {
    font-size: 3rem;
    margin-left: 9%;
    font-family: 'Sofia', cursive;
    color: var(--neon-blue);
    flex-grow: 1;
}

.header .btn-setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    gap: 0.5rem;
    border: 2px solid var(--neon-blue);
    border-radius: 10px;
    margin-right: 0px;
}

.header .btn-setting:hover {
    color: var(--neon-blue);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-mode-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.content-clock-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 1rem;
    margin-top: 1.5rem;
}

.content .input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.content input {
    width: 600px;
    height: 3rem;
    border: none;
    outline: none;
    border-bottom: .2em solid var(--hazel);
    background: var(--hazel-light);
    border-radius: .2em .2em 0 0;
    padding: 10px;
    color: var(--hazel);
    font-size: 1.5rem;
}

::placeholder {
    color: var(--hazel);
}

.modeActive {
    display: flex;
    background-color: var(--hazel);
    color: white;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

.mode {
    display: flex;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--hazel);
    border: 2px solid var(--hazel);
    font-weight: 500;
    cursor: pointer;
}

.btn-fullscreen {
    position: fixed;
    top: 700px;
    left: 90%;
    cursor: pointer;
}

.icon {
    cursor: pointer;
    transition: transform 0.3s ease;
    color: var(--hazel)
} 

.btn-add {
    cursor: pointer;
    color: var(--hazel)
}

.task-list {
    margin: 16px 0px 16px 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.75rem;
}

.task-item {
    width: 680px;
    height: 50px;
    background-color: var(--hazel);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.task-item .task-title {
    flex-grow: 1;
}

.task-item .icon-delete {
    margin-left: 0px;
}

.progess-container {
    display: flex;
}

.progess-container .time {
    font-size: 5em;
    font-weight: 600;
    fill: var(--hazel);
}

.background-circle {
    fill: var(--hazel-light);
    stroke: var(--hazel);
}

.progress-circle {
    fill: none;
    stroke: var(--hazel-light);
    stroke-linecap: round;
    stroke-linejoin: round;
}

.footer {
    margin-top: 50px;
}

